mixin catalog-tags(mods)
  -
    const baseName = 'catalog-tags'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      'Торговые стеллажи',
      'Перфорированные стеллажи и фурнитура',
      'Складские и архивные стеллажи (нагрузка на полку 140 кг)',
      'Cтеллажи архивные СТФЛ (100 кг на полку)',
      'Стеллажи грузовые нагрузка 500 кг на полку',
      'Стеллажи с нагрузкой до 2200 кг ',
      'Паллетные стеллажи',
      'Интегрированные стеллажи',
      'Глубинные стеллажи',
      'Мезонины',
      'Стеллажи для магазинов'
    ]

  .catalog-tags(class=allMods)&attributes(attributes)
    each item in data
      a.catalog-tags__item(href='#') !{item}
    block
