extends ../../layouts/layout

block variables
  -
    const pageName = 'about'
    const pageTitle = 'О нас'

    const advantagesData = [
      {
        icon: '../../images/about-history.svg',
        name: 'История компании',
        descr: 'Компания ТоргМаг уже более двух лет назад заняла в Воронеже лидирующие позиции по потставке, реализации и монтажу торгового и холодильного оборудования различной сложности - предприятия от небольших магазинов до огромных супермаркетов оснащены нашими товарами.'
      },
      {
        icon: '../../images/about-service.svg',
        name: 'Экспертный сервис',
        descr: 'Все сотрудники, с которыми контактируют наши клиенты в ходе покупки, являются экспертами в своих областях и готовы дать профессиональный совет и провести консультацию по всем интересующим вас вопросам. С нами вы можете быть уверены в правильности своего выбора!'
      },
      {
        icon: '../../images/about-reputation.svg',
        name: 'Блестящая репутация',
        descr: 'Мы гордимся своей репутацией и стремимся оставить у клиента самые положительные эмоции от сотрудничества. Главный наш козырь - идеальное соотношение цены и качества продукции.'
      },
    ]

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item('О нас')
    +page-head('../../images/page-head_about.jpg', 'О нашей компании')
      +page-head__subtitle('Мы занимаемся поставкой торгового и складского оборудования для магазинов')
    +section
      .inner
        +advantages(advantagesData)
