.page-404 {
  padding: 50px 0 20px;
  @include media-tablet {
    padding: 30px 0 0;
  }
  &__wrapp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 420px;
    text-align: center;
    > * {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-image: url("data:image/svg+xml,%3Csvg width='1087' height='473' viewBox='0 0 1087 473' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M347.613 371.486H292.096V466.714H196.833V371.486H0V303.914L202.196 7.22857H292.096V296.057H347.613V371.486ZM196.833 296.057V218.114C196.833 210.781 196.939 202.086 197.149 192.029C197.569 181.971 197.99 171.914 198.411 161.857C198.831 151.8 199.252 142.895 199.672 135.143C200.303 127.181 200.724 121.629 200.934 118.486H198.411C194.415 127.076 190.209 135.457 185.793 143.629C181.377 151.59 176.225 159.971 170.337 168.771L85.7992 296.057H196.833Z' fill='%23EFF2F4' fill-opacity='0.75'/%3E%3Cpath d='M704.373 236.971C704.373 274.057 701.429 307.162 695.541 336.286C689.863 365.41 680.61 390.133 667.783 410.457C655.165 430.781 638.552 446.286 617.943 456.971C597.335 467.657 572.31 473 542.869 473C505.858 473 475.47 463.676 451.707 445.029C427.944 426.171 410.385 399.143 399.029 363.943C387.674 328.533 381.996 286.21 381.996 236.971C381.996 187.314 387.148 144.886 397.452 109.686C407.967 74.2762 425 47.1429 448.553 28.2857C472.106 9.42857 503.544 0 542.869 0C579.67 0 609.952 9.42857 633.715 28.2857C657.689 46.9333 675.458 73.9619 687.024 109.371C698.59 144.571 704.373 187.105 704.373 236.971ZM478.835 236.971C478.835 271.962 480.728 301.19 484.513 324.657C488.509 347.914 495.133 365.41 504.386 377.143C513.639 388.876 526.466 394.743 542.869 394.743C559.062 394.743 571.784 388.981 581.037 377.457C590.5 365.724 597.23 348.229 601.225 324.971C605.221 301.505 607.219 272.171 607.219 236.971C607.219 201.981 605.221 172.752 601.225 149.286C597.23 125.819 590.5 108.219 581.037 96.4857C571.784 84.5429 559.062 78.5714 542.869 78.5714C526.466 78.5714 513.639 84.5429 504.386 96.4857C495.133 108.219 488.509 125.819 484.513 149.286C480.728 172.752 478.835 201.981 478.835 236.971Z' fill='%23EFF2F4' fill-opacity='0.75'/%3E%3Cpath d='M1087 371.486H1031.48V466.714H936.221V371.486H739.387V303.914L941.583 7.22857H1031.48V296.057H1087V371.486ZM936.221 296.057V218.114C936.221 210.781 936.326 202.086 936.536 192.029C936.957 181.971 937.377 171.914 937.798 161.857C938.218 151.8 938.639 142.895 939.059 135.143C939.69 127.181 940.111 121.629 940.321 118.486H937.798C933.802 127.076 929.596 135.457 925.18 143.629C920.764 151.59 915.612 159.971 909.724 168.771L825.186 296.057H936.221Z' fill='%23EFF2F4' fill-opacity='0.75'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.8;
      @include media-tablet {
        opacity: 1;
        background-position-y: 6%;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 26px;
    @include media-tablet {
      font-size: 22px;
    }
  }
  &__descr {
    max-width: 540px;
    font-size: 20px;
    color: $grey80;
    @include media-laptop {
      font-size: 18px;
    }
    @include media-tablet {
      font-size: 16px;
    }
  }
  &__ui-button {
    min-width: 240px;
    margin-top: 60px;
    @include media-tablet {
      margin-top: 40px;
    }
  }
}
