extends ../../layouts/layout

block variables
  -
    const pageName = 'article'
    const pageTitle = 'Что такое штабелер'

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item('Статьи', '#')
      +breadcrumbs-item(pageTitle)
    +page-head('../../images/page-head_catalog.jpg', pageTitle)
    +section
      .inner
        +text-content
          figure
            img(src='../../images/delivery.jpg' alt='')
          p
            a(href='#') Штабелеры
            |  – современные устройства, механизирующие погрузочно-разгрузочные операции на складах, терминалах, в цехах отгрузки продукции. Они эффективно работают на ограниченном пространстве, упрощают укладку грузов в штабели и на стеллажи. Область их применения определяется конструктивными параметрами, грузоподъемностью, маневренностью, надежностью.
          h3 Описание конструкции
          p Понятие «<b>штабелер</b>» <b>означает </b> универсальный погрузчик для перемещения на небольшие расстояния грузов, установленных на паллеты или поддоны, и размещение их в ряды (штабели) при максимальном угле подъема не более 30. Первое оборудование подобного назначения было разработано в 1957 г. немецкой компанией «Linde». Сейчас оно усовершенствованное, компактное, производительное, может обслуживать труднодоступные стеллажи.
          p Основные элементы штабелера:
          ol
            li Основание.
              p Оно состоит из:
              ul
                li опорной рамы с рулевыми колесами, вращающимися на 360 0 и оснащенными тормозами;
                li консоли с закрепленными на ней роликами.
              p Эти части агрегата произведены из прочных профилей. Он передвигается на колесиках и роликах с металлическим ободом, покрытых резиной или полиуретаном.
            li Мачта.
              p Она изготовлена из стальных швеллеров или двутавров. На нее крепятся направляющие. По ним перемещается подъемная каретка с устройством для удержания и поднятия-опускания стандартных поддонов.
              p Между стоками расположено ударопрочное стекло или защитный экран для обеспечения безопасности оператора. Электрические модели оборудованы кабиной.
          h3 Типы
          p На складах для штабелирования используют ручную, полуэлектрическую и полностью работающую от электричества спецтехнику.
          +ui-table()(style='min-width: 600px;')
            thead
              tr
                th Разновидность
                th Допустимая грузоподъемность, т
                th Предельная высота поднятия, м
                th Ширина прохода, м
            tbody
              tr
                td Ручные
                td 1,5
                td 3
                td 2-2,5
              tr
                td Полуэлектрические
                td 2,5
                td 3,5
                td 2-2,5
              tr
                td Электрические
                td 1,5-1,6
                td 5,5
                td 2,5-3
              tr
                td С выдвижной мачтой
                td 2
                td 12
                td до 3
          h3 Особенности использования
          p Назначение штабелера - вертикальное упорядочение на складах. Он действует по принципу, основанному на взаимосвязи: чем значительнее высота поднимания, тем меньше вес нагрузки.
          p
            b Электроштабелер работает по циклической схеме, включающей этапы:
          ol
            li Активная эксплуатация в течение смены (6-8 часов).
            li Подзарядка тягового аккумулятора после окончания смены. Это осуществляют даже на рабочей площадке. После полного накопления заряда аккумулятор автоматически отключается от сети.
            li Технический осмотр оборудования перед началом нового цикла.
