mixin pagination(mods)
  -
    const baseName = 'pagination'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .pagination(class=allMods)&attributes(attributes)
    a.pagination__link.pagination__link--prev.pagination__link--disabled(href='#')
      svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M7 12L10 9L7 6' stroke='currentColor')
      | Назад
    ul.pagination__list
      each item, index in [1, 2, 3]
          li.pagination__item(class=(index === 0 ? 'pagination__item--active' : ''))
            a.pagination__link(href='#')=item
      li.pagination__item
        a.pagination__link(href='#') ...
      li.pagination__item
        a.pagination__link(href='#') 25
    a.pagination__link.pagination__link--next(href='#') Далее
      svg(width='18' height='18' viewbox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M7 12L10 9L7 6' stroke='currentColor')
