mixin catalog-categories(mods)
  -
    const baseName = 'catalog-categories'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      'Торговые стеллажи',
      'Перфорированные стеллажи и фурнитура',
      'Складские и архивные стеллажи (нагрузка на полку 140 кг)',
      'Cтеллажи архивные СТФЛ (100 кг на полку)',
      'Стеллажи грузовые нагрузка 500 кг на полку',
      'Стеллажи с нагрузкой до 2200 кг ',
      'Паллетные стеллажи',
      'Интегрированные стеллажи'
    ]

  .catalog-categories(class=allMods)&attributes(attributes)
    .catalog-categories__grid
      each item in data
        a.catalog-categories__item(href='#')
          .catalog-categories__img: img(src='../../images/catalog-inner-1.jpg' alt='')
          .catalog-categories__name !{item}
      each item in data
        a.catalog-categories__item(href='#')
          .catalog-categories__img: img(src='../../images/catalog-inner-1.jpg' alt='')
          .catalog-categories__name !{item}
    .catalog-categories__more
      +ui-button('Показать ещё', '--border')
    block
