.ui-ol {
  counter-reset: itemOl;
  list-style-type: none;
  > li {
    position: relative;
    padding-left: 40px;
    counter-increment: itemOl;
    @include media-laptop {
      padding-left: 35px;
    }
    &::before {
      content: counter(itemOl);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      text-align: center;
      color: #fff;
      background: $red90;
      border-radius: 50%;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
