mixin our-works(mods)
  -
    const baseName = 'our-works'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  if pageName === 'portfolio'
    .our-works(class=allMods)&attributes(attributes)
      .our-works__wrapper
        -for(let i=0; i<15; i++)
          .our-works__item
            .our-works__img: img(src='../../images/catalog-inner-2.jpg' alt='')
            .our-works__info
              h5.our-works__title Оборудование продуктового магазина
              .our-works__descr В городе Липецк
              +ui-button('Смотреть', 'our-works, --border')
      +pagination
      block
  else
    .our-works(class=allMods)&attributes(attributes)
      .our-works__wrapper.swiper-wrapper
        -for(let i=0; i<5; i++)
          .our-works__item.swiper-slide
            .our-works__img: img(src='../../images/catalog-inner-2.jpg' alt='')
            .our-works__info
              h5.our-works__title Оборудование продуктового магазина
              .our-works__descr В городе Липецк
              +ui-button('Смотреть', 'our-works, --border')
      +ui-swiper-bullets('--mt')
      block
