.product-slider {
  position: relative;
  @include media-laptop {
    padding: 0 10px;
  }
  @include media-tablet {
    padding: 0;
  }
  &__ui-swiper-buttons {
    position: absolute;
    top: 50%;
    right: -20px;
    left: -20px;
    z-index: 10;
    transform: translateY(-50%);
    justify-content: space-between;
    pointer-events: none;
    @include media-laptop {
      right: -5px;
      left: -5px;
    }
    @include media-tablet {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      pointer-events: all;
    }
  }
  .swiper-slide {
    transition: opacity 0.3s;
    &:not(.swiper-slide-visible) {
      opacity: 0;
    }
  }
  &--xs {
    .product {
      padding: 20px 15px;
      &__line {
        margin-bottom: 10px;
      }
      &__img {
        width: 120px;
        height: 160px;
        margin-bottom: 15px;
        @include media-laptop {
          margin-bottom: 20px;
        }
      }
      &__name {
        font-size: 17px;
        margin-bottom: 20px;
      }
      &__bottom {
        display: grid;
        gap: 15px;
      }
      &__price {
        font-size: 19px;
      }
    }
  }
}
