mixin product-slider(mods)
  -
    const baseName = 'product-slider'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .product-slider(class=allMods)&attributes(attributes)
    .swiper-wrapper
      -for(let i=0; i<5; i++)
        +product.swiper-slide
    +ui-swiper-buttons('product-slider')
    block
