mixin article(mods)
  -
    const baseName = 'article'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.article(class=allMods href='#')&attributes(attributes)
    .article__img: img(src='../../images/news.jpg' alt='')
    .article__name Что такое рохля на&nbsp;складе
    block
