extends ../../layouts/layout

block variables
  -
    const pageName = 'portfolio-inner'
    const pageTitle = 'Оборудование продуктового магазина'

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item('Портфолио', '#')
      +breadcrumbs-item(pageTitle)
    +page-head('../../images/page-head_catalog.jpg', 'Наши работы')
      +page-head__subtitle('Более')
        =' '
        span.page-head__subtitle-xl 14
        |  выполненных проектов
      +page-head__descr('Мы осуществляем проектирование, поставку и монтаж стеллажного и торгового оборудования в сотрудничестве с Опытным заводом «МИКРОН», одним из крупнейших российских производителей стеллажного и торгового оборудования.')
    +section
      .inner
        +text-content
          h2 Оборудование продуктового магазина
          p В мае 2016 года в нашу компанию обратились владельцы продуктового магазина в Липецке, озвучив свою потребность в качественном торговом оборудовании - перфорированных стойках, прилавках, витринах, стеллажах и проч.
          p Ввиду того, что мы находимся в Воронеже, а клиент - в Липецке, все обсуждения, консультации и согласования велись по телефону, однако, благодаря профессионализму наших сотрудников, мы смогли в точности воспроизвести то, что желал заказчик.
          p В кротчайшие сроки заказанные материалы и мебель были отправлены в Липецк, где при сборке стало понятно, что мы сделали все правильно  - интерьер магазина стал не только эргономичным и удобным, но и соответствующим всем нормам, предъявляемым законодательством.
          figure
            img(src='../../images/delivery.jpg' alt='')
          figure
            img(src='../../images/delivery.jpg' alt='')
          figure
            img(src='../../images/delivery.jpg' alt='')
          figure
            img(src='../../images/delivery.jpg' alt='')
    +section('--bg, --ov-h')
      .inner
        +section-head
          +ui-h2('Другие работы', '--bold')
          +ui-button('Смотреть все', '--text', '', 'icon_s-arrow-right')
          +ui-swiper-buttons('section-head, --blue')
        +our-works
