mixin catalog-inner(mods)
  -
    const baseName = 'catalog-inner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .catalog-inner(class=allMods)&attributes(attributes)
    .catalog-inner__grid
      -for(let i=0; i<6; i++)
        +product
    .catalog-inner__button
      +ui-button('Показать еще', '--border')
    block
