.catalog-inner {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px 40px;
    @include media-laptop {
      gap: 30px;
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
      gap: 20px;
    }
    .product {
      &__descr {
        display: none;
      }
    }
  }
  &__button {
    margin-top: 40px;
    text-align: center;
    @include media-laptop {
      margin-top: 30px;
    }
    @include media-tablet {
      margin-top: 25px;
    }
  }
  &--rows {
    .catalog-inner__grid {
      grid-template-columns: minmax(0, 1fr);
      gap: 20px;
      .product {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr auto;
        gap: 0 30px;
        @include media-tablet {
          grid-template-rows: auto 1fr auto auto auto;
          padding: 15px;
          gap: 0 15px;
        }
        &__name {
          margin-bottom: 10px;
          @include media-tablet {
            margin-bottom: 5px;
          }
        }
        &__slider {
          width: 155px;
          grid-row: 1/-1;
          margin-bottom: 0;
          align-self: center;
          @include media-tablet {
            width: 93px;
            grid-row: 1/4;
          }
        }
        .swiper-slide.product__img,
        &__img {
          height: 205px;
          @include media-tablet {
            height: 124px;
          }
        }
        &__line {
          gap: 10px;
          @include media-tablet {
            margin-bottom: 5px;
          }
        }
        &__descr {
          display: block;
          margin-bottom: 20px;
          color: $grey80;
          font-size: 15px;
          @include media-tablet {
            font-size: 13px;
            margin-bottom: 0;
          }
        }
        &__bottom {
          @include media-laptop {
            display: flex;
            gap: 25px;
          }
          @include media-tablet {
            display: grid;
            gap: 10px;
            grid-column: 1/-1;
            grid-row: 4/5;
            margin-top: 10px;
          }
        }
        &__discount {
          top: 20px;
          right: unset;
          left: 20px;
          @include media-tablet {
            top: 10px;
            left: 10px;
          }
        }
      }
    }
  }
  &--lines {
    .catalog-inner__grid {
      grid-template-columns: minmax(0, 1fr);
      gap: 15px;
      .product {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        gap: 0 40px;
        padding: 20px 15px;
        @include media-tablet {
          grid-template-columns: minmax(0, 1fr);
        }
        &__price {
          @include media-laptop {
            text-align: right;
          }
          @include media-tablet {
            text-align: left;
          }
        }
        &__slider {
          display: none;
        }
        &__name {
          margin-bottom: 0;
          @include media-tablet {
            margin-bottom: 15px;
          }
        }
        &__line {
          justify-content: flex-start;
          margin-bottom: 10px;
          gap: 25px;
          @include media-laptop {
            gap: 20px;
          }
        }
        &__bottom {
          margin-top: 0;
          grid-column: 2/3;
          grid-row: 1/-1;
          gap: 20px;
          @include media-tablet {
            grid-column: unset;
            grid-row: unset;
            gap: 10px;
          }
        }
        &__discount {
          position: relative;
          top: unset;
          right: unset;
          @include media-laptop {
            padding: 4px 6px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
