extends ../../layouts/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    .inner
      +ui-h1(pageTitle)
      br
      br
      //- a(href='blocks.html') Repository blocks
      br
      a(href='main.html') Главная
      br
      a(href='catalog.html') Каталог
      br
      a(href='catalog-inner.html') Каталог внутренняя
      br
      a(href='product.html') Страница товара
      br
      a(href='about.html') О нас
      br
      a(href='contacts.html') Контакты
      br
      a(href='shipping-payment.html') Доставка и оплата
      br
      a(href='guarantees-service.html') Гарантии и сервис
      br
      a(href='articles.html') Статьи
      br
      a(href='article.html') Статья
      br
      a(href='portfolio.html') Портфолио
      br
      a(href='portfolio-inner.html') Портфолио - внутренняя
      br
      a(href='news.html') Новости
      br
      a(href='news-inner.html') Новости - внутренняя
      br
      a(href='404.html') 404
