extends ../../layouts/layout

block variables
  -
    const pageName = 'news-inner'
    const pageTitle = 'Мы пополнили ассортимент торговых стеллажей!'

block content
  main
    +breadcrumbs
      +breadcrumbs-item('Новости', '#')
      +breadcrumbs-item(pageTitle)
    +section('--mt0')
      .inner
        +news-head
    +section('--mt60')
      .inner
        +text-content('--center')
          h3 Оборудование продуктового магазина
          p В мае 2016 года в нашу компанию обратились владельцы продуктового магазина в Липецке, озвучив свою потребность в качественном торговом оборудовании - перфорированных стойках, прилавках, витринах, стеллажах и проч.
          p Ввиду того, что мы находимся в Воронеже, а клиент - в Липецке, все обсуждения, консультации и согласования велись по телефону, однако, благодаря профессионализму наших сотрудников, мы смогли в точности воспроизвести то, что желал заказчик.
          p В кротчайшие сроки заказанные материалы и мебель были отправлены в Липецк, где при сборке стало понятно, что мы сделали все правильно  - интерьер магазина стал не только эргономичным и удобным, но и соответствующим всем нормам, предъявляемым законодательством.
          h4 Оборудование продуктового магазина
          p Ввиду того, что мы находимся в Воронеже, а клиент - в Липецке, все обсуждения, консультации и согласования велись по телефону, однако, благодаря профессионализму наших сотрудников, мы смогли в точности воспроизвести то, что желал заказчик.
          p В кротчайшие сроки заказанные материалы и мебель были отправлены в Липецк, где при сборке стало понятно, что мы сделали все правильно  - интерьер магазина стал не только эргономичным и удобным, но и соответствующим всем нормам, предъявляемым законодательством.
    +section
      .inner
        +section-head
          +ui-h2('Другие новости', '--bold')
          +ui-button('Смотреть все', 'section-head, --text', '', 'icon_s-arrow-right')
        +news
