-
  const menu = [
    {
      name: 'Новости',
      link: '#'
    },
    {
      name: 'Портфолио',
      link: '#'
    },
    {
      name: 'Доставка и&nbsp;оплата',
      link: '#'
    },
    {
      name: 'Калькулятор',
      link: '#'
    },
    {
      name: 'Статьи',
      link: '#'
    },
    {
      name: 'Наши гарантии и&nbsp;сервис',
      link: '#'
    },
    {
      name: 'О нас',
      link: '#'
    },
  ]

footer.footer
  .footer__main
    .inner
      .footer__links
        ul.footer__menu
          each item in menu
            li.footer__item
              a(href=item.link) !{item.name}
        .footer__mail Электронная почта
          a.footer__mail-link(href='mailto:torgmagvrn@mail.ru') torgmagvrn@mail.ru
        .footer__request Возникли вопросы?
          +ui-button('Напишите нам', 'footer, --border')
        button.footer__to-top
          +svg('icon_arrow-to-top')
      .footer__offices
        .footer__title Наши офисы
        .footer__offices-wrapp
          .swiper-wrapper
            -for(let i=0; i<5; i++)
              .footer__office.swiper-slide
                .footer__office-address г. Воронеж, ул. Остужева, 47
                .footer__office-info
                  .footer__office-tels
                    a(href='tel:8-920-220-220-5') 8-920-220-220-5
                    a(href='tel:8-951-555-75-75') 8-951-555-75-75
                  .footer__office-shedule ПН........9:00-16:00 <br> ВС-ПТ...8:00-16:00 <br> СБ-ВС...8:00-16:00
          +ui-swiper-buttons('footer')
  .footer__bot
    .inner
      a.footer__logo(href='/')
        img(src='../../images/logo-footer.svg' alt='')
      .footer__policy © 2023 ТОРГМАГ <br> Торговое и складское оборудование <br>
        =' '
        a(href='#') Политика конфиденциальности
        =' | '
        a(href='#') Согласие на обработку персональных данных
