-
  const menu = [
    {
      name: 'Новости',
      link: '#'
    },
    {
      name: 'Портфолио',
      link: '#'
    },
    {
      name: 'Доставка и&nbsp;оплата',
      link: '#'
    },
    {
      name: 'Контакты',
      link: '#'
    },
    {
      name: 'О нас',
      link: '#'
    },
    {
      name: 'Статьи',
      link: '#'
    },
    {
      name: 'Наши гарантии и&nbsp;сервис',
      link: '#'
    }
  ]

footer.footer
  .footer__main
    .inner
      .footer__links
        ul.footer__menu
          each item in menu
            li.footer__item
              a(href=item.link) !{item.name}
        .footer__mail Электронная почта
          a.footer__mail-link(href='mailto:torgmagvrn@mail.ru') torgmagvrn@mail.ru
        .footer__request Возникли вопросы?
          +ui-button('Напишите нам', 'footer, --border')
        button.footer__to-top
          +svg('icon_arrow-to-top')
  .footer__bot
    .inner
      .footer__company
        a.footer__logo(href='/')
          img(src='../../images/logo-footer.svg' alt='')
        .footer__policy © 2023 ТОРГМАГ <br> Торговое и складское оборудование <br>
          =' '
          a(href='#') Политика конфиденциальности
          =' | '
          a(href='#') Согласие на обработку персональных данных
      .footer__counters
        -for(let i=0; i<3; i++)
          .footer__counter
            a(href='#'): img(src='../../images/counter.png' alt='')
