.footer {
  flex: 0 1;
  &__links {
    display: flex;
    padding: 25px 0 40px;
    border-top: 3px solid $red;
    @include media-laptop {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 30px;
    }
    @include media-tablet {
      grid-template-columns: 1fr;
      gap: 25px 20px;
      padding-bottom: 30px;
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px 30px;
    align-content: start;
    margin-right: auto;
    @include media-laptop {
      order: -2;
      grid-column: span 2;
    }
    @include media-tablet {
      grid-template-columns: repeat(2, auto);
      gap: 10px 15px;
      grid-column: unset;
    }
  }
  &__item {
    font-weight: 600;
    font-size: 16px;
    color: $blue;
    @include media-laptop {
      font-size: 14px;
    }
  }
  &__mail {
    margin-left: 50px;
    font-weight: 600;
    font-size: 13px;
    color: $grey80;
    @include media-laptop {
      margin-left: 0;
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      font-size: 18px;
      color: $blue;
      text-decoration: underline;
      @include media-laptop {
        font-size: 16px;
      }
      &::before {
        content: '';
        width: 21px;
        height: 21px;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2 3.5H2.8C1.74125 3.5 0.884625 4.2875 0.884625 5.25L0.875 15.75C0.875 16.7125 1.74125 17.5 2.8 17.5H18.2C19.2588 17.5 20.125 16.7125 20.125 15.75V5.25C20.125 4.2875 19.2588 3.5 18.2 3.5ZM17.2375 15.75H3.7625C3.23313 15.75 2.8 15.3562 2.8 14.875V7L9.47975 10.7975C10.1054 11.1562 10.8946 11.1562 11.5203 10.7975L18.2 7V14.875C18.2 15.3562 17.7669 15.75 17.2375 15.75ZM10.5 9.625L2.8 5.25H18.2L10.5 9.625Z' fill='%23E30C29'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        @include media-laptop {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  &__request {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 60px;
    font-weight: 600;
    font-size: 13px;
    color: $grey80;
    @include media-laptop {
      margin-left: 0;
    }
    .footer__ui-button {
      margin-top: 10px;
    }
  }
  &__to-top {
    width: 40px;
    height: 40px;
    margin-left: 150px;
    padding: 0;
    background: transparent;
    border: 0;
    color: $red;
    transition: 0.3s;
    cursor: pointer;
    @include media-laptop {
      order: -1;
      margin-left: auto;
    }
    @include media-tablet {
      display: none;
    }
    @include media-hover {
      color: $blue;
    }
  }
  &__bot {
    padding: 24px 0;
    background: $blue;
    color: #fff;
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @include media-laptop {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__company {
    display: flex;
    align-items: center;
    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__logo {
    width: 151px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 35px;
    @include media-laptop {
      margin-right: 20px;
    }
    @include media-tablet {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__policy {
    font-size: 12px;
    @include media-tablet {
      font-size: 11px;
    }
    &:not(:last-child) {
      margin-right: auto;
    }
    a {
      @include media-hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  &__counters {
    display: flex;
    align-items: center;
    gap: 15px;
    @include media-laptop {
      margin-left: auto;
    }
    @include media-tablet {
      margin-left: 0;
    }
  }
  &__counter {
    max-width: 90px;
  }
}
