.catalog-control {
  display: flex;
  gap: 40px;
  padding: 20px 30px;
  background: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 3px 36px rgb(0 0 0 / 0.03);
  border-radius: 10px;
  @include media-laptop {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 30px;
  }
  @include media-tablet {
    padding: 25px 30px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 25px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 16px;
    @include media-laptop {
      font-size: 15px;
    }
  }
  &__view {
    display: flex;
    margin-left: auto;
    @include media-tablet {
      margin-left: 0;
    }
    &-btn {
      display: flex;
      width: 43px;
      height: 43px;
      padding: 0;
      color: #d9d9d9;
      background: transparent;
      border: 1px solid #ebebeb;
      border-radius: 0;
      cursor: pointer;
      transition: 0.3s;
      &:not(:last-child) {
        border-right: 0;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      @include media-hover {
        color: #4b75c9;
      }
      .svg {
        width: 20px;
        height: 20px;
        margin: auto;
      }
      &.active {
        color: #4b75c9;
        background: #dde7fb;
      }
    }
  }
}
