// fonts
$font: 'Open Sans', 'Arial', sans-serif;

// colors
$black: #101820;
$red: #e30c29;
$red90: #f43c3c;
$blue: #1d3f65;
$blue20: #eff2f4;
$grey80: #828282;

// media
$mediaWidthLaptop: 1440px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
