mixin cart(mods)
  -
    const baseName = 'cart'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cart(class=allMods)&attributes(attributes)
    button.cart__button
      +svg('icon_cart')
      .cart__count 5
    .cart__main
      .inner
        .cart__head
          +svg('icon_cart')
          .cart__heading
            +ui-h2('Ваша корзина', 'cart')
            .cart__head-count 5
          button.cart__close
            +svg('icon_cross')
            //- +svg('icon_arrow-right')
        .cart__list
          -for(let i=0; i<7; i++)
            +product('cart', 'cart')
          .cart__empty Ваша корзина пуста
        .cart__total
          .cart__total-text Итоговая <br> сумма
          .cart__total-num 125 489 ₽
          +ui-button('Оформить заказ', 'cart')(href='#')
    block
