extends ../../layouts/layout

block variables
  -
    const pageName = 'shipping-payment'
    const pageTitle = 'Доставка и оплата'

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item(pageTitle)
    +page-head('../../images/page-head_catalog.jpg', pageTitle)
    +section
      .inner
        +text-content
          figure
            img(src='../../images/delivery.jpg' alt='')
            figcaption Подпись к картинке
          h2 Условия оплаты и доставки торгового оборудования
          h3 Оплата
          p Оплата производится в кассе наших магазинов наличными или пластиковыми картами (Visa и MasterCard) в случае самовывоза.
          h3 Стоимость и условия доставки
          ul
            li Стоимость доставки товара по городу составляет 1000 руб.
            li За пределами города - +13 руб/км
          p Подробнее о стоимости доставки Вы можете уточнить у наших менеджеров по телефону: 8-951-555-75-75,8-958- 555-75-75.В услугу доставки, оказываемой компанией «ТоргМаг», не включаются разгрузочные работы. Разгрузка выполняется силами и средствами клиента.
          h4 Самовывоз
          p Вы также можете самостоятельно забрать свой заказ со склада в любое удобное для Вас время.
          h4 Адрес магазина
          p Г. Воронеж, ул. Остужева 47 (выставочно-ярморочный комплекс «Остужевский»)
            br
            | Режим работы:
            br
            | ПН 9:00-16:00
            br
            | ВТ-ПТ 8:00-16:00
            br
            | СБ-ВС 8:00-16:00
          h4 Доставка в другие регионы
          p Изготовленное компанией «ТоргМаг» торговое оборудование Вы всегда сможете получить, в каком бы регионе РФ Вы бы ни находились. Мы сотрудничаем со всеми наиболее известными, в том числе - крупнейшими поставщиками транспортных услуг. К числу наших партнеров относятся, в частности: ДЕЛОВЫЕ ЛИНИИ, Возовоз, ПЭК.Доставка до ТК платная цены уточняйте у наших менеджеров т.
            =' '
            a(href="tel:8 951 555 7575") 8 951 555 7575

