mixin favorites(mods)
  -
    const baseName = 'favorites'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .favorites(class=allMods)&attributes(attributes)
    button.favorites__button
      +svg('icon_heart')
      .favorites__count 5
    block
