extends ../../layouts/layout

block variables
  -
    const pageName = 'catalog-inner'
    const pageTitle = 'Стеллажи торговые и складские'

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item('Стеллажи торговые и складские', '#')
      +breadcrumbs-item('Торговые стеллажи')
    +page-head('../../images/page-head_catalog.jpg', 'Стеллажи торговые и&nbsp;складские')
    +section('--mt-110')
      .inner
        +catalog-filter
    +section('--mt60')
      .inner
        +catalog-tags
    +section
      .inner
        +section-head
          +ui-h2('Торговые стеллажи').ui-blue
        +catalog-inner
    +section
      .inner
        +section-head
          +ui-h2('Cтеллажи архивные СТФЛ (100 кг на полку)').ui-blue
        +catalog-inner
    +section
      .inner
        +special-offers
    +section('--bg, --ov-h')
      .inner
        +section-head
          +ui-h2('Полезные статьи', '--bold')
          +ui-button('Смотреть все', '--text', '', 'icon_s-arrow-right')
          +ui-swiper-buttons('section-head')
        +articles-slider
