extends ../../layouts/layout

block variables
  -
    const pageName = 'catalog-inner'
    const pageTitle = 'Стеллажи торговые и складские'

block content
  main
    +breadcrumbs('--page-head')
      +breadcrumbs-item('Стеллажи торговые и складские', '#')
      +breadcrumbs-item('Торговые стеллажи')
    +page-head('../../images/page-head_catalog.jpg', 'Стеллажи торговые и&nbsp;складские', '--size-s')
    +section
      .inner
        +main-aside('--xl-gap')
          .main-aside__content
            +section('--mt0')
              +catalog-filter('main-aside')
            +section('--mt25')
              +catalog('main-aside')
          .main-aside__content
            +section('--mt0')
              +catalog-control
            +section('--mt40')
              +catalog-tags
            +section('--mt40')
              +section-head
                +ui-h2('Торговые стеллажи').ui-blue
              +catalog-inner
            +section
              +section-head
                +ui-h2('Cтеллажи архивные СТФЛ (100 кг на полку)').ui-blue
              +catalog-inner
    +section
      .inner
        +special-offers
    +section('--bg, --ov-h')
      .inner
        +section-head
          +ui-h2('Полезные статьи', '--bold')
          +ui-button('Смотреть все', '--text', '', 'icon_s-arrow-right')
          +ui-swiper-buttons('section-head')
        +articles-slider
