mixin product(mods, type)
  -
    const baseName = 'product'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  form.product(class=allMods)&attributes(attributes)
    case type
      when 'cart'
        .product__img: img(src='../../images/catalog-inner-1.jpg' alt='')
        .product__info
          a.product__name(href='#') Крючок для перфорации одинарный 100мм d-4мм, цинк арт. SH504Z-100SX
          .product__price 12 489 ₽
        +product__quantity
        button.product__delete
          +svg('icon_plus')
        block
      default
        .product__img: img(src='../../images/catalog-inner-1.jpg' alt='')
        .product__line
          .product__art Арт. L013414
          .product__status.product__status--in-stock В наличии
        a.product__name(href='#') Крючок для перфорации одинарный 100мм d-4мм, цинк арт. SH504Z-100SX
        .product__bottom
          .product__price 12 489 ₽
          +product__quantity
          button.product__button(type='button')
            +svg('icon_cart')

mixin product__quantity
  .product__quantity
    button.product__quantity-btn(type='button' data-quantity-minus)
      +svg('icon_minus')
    input.product__quantity-input(type='number' value='1')
    button.product__quantity-btn(type='button' data-quantity-plus)
      +svg('icon_plus')
