.product {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  transition: opacity 0.3s;
  animation: fade-in 0.4s;
  @include media-tablet {
    padding: 20px 15px;
  }
  &__img-anim,
  .swiper-slide.product__img,
  &__slider,
  &__img {
    width: 262px;
    height: 350px;
    margin: 0 auto 20px;
    flex-shrink: 0;
    @include media-tablet {
      width: 190px;
      height: 240px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
  }
  &__slider {
    position: relative;
    height: auto;
    padding-bottom: 15px;
    overflow: hidden;
    .swiper-slide.product {
      &__img {
        margin-bottom: 0;
      }
    }
  }
  &__ui-swiper-bullets {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    .swiper-pagination-horizontal .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      margin: 0 3px;
    }
  }
  &__img-anim {
    position: fixed;
    z-index: 10000;
    object-fit: contain;
    border-radius: 5px;
    transition: 0.5s;
    animation: img-anim 0.2s ease;
    &.translate {
      transform: translate(-50%, -50%) scale(0);
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 10px 0;
    @include media-laptop {
      padding: 0;
    }
  }
  &__line {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: $grey80;
  }
  &__status {
    display: flex;
    align-items: center;
    gap: 8px;
    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }
    &--in-stock {
      &::before {
        background: #519e44;
      }
    }
  }
  &__name {
    display: block;
    margin-bottom: 18px;
    font-size: 18px;
    transition-property: color;
    @include media-laptop {
      font-size: 17px;
    }
    @include media-tablet {
      font-size: 16px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: auto;
    @include media-laptop {
      display: grid;
      gap: 15px;
    }
  }
  &__price {
    display: grid;
    gap: 2px;
    font-weight: 700;
    font-size: 20px;
    color: $blue;
    white-space: nowrap;
    flex-shrink: 0;
    @include media-laptop {
      font-size: 19px;
    }
    @include media-tablet {
      font-size: 18px;
    }
    &-old {
      font-weight: 500;
      font-size: 67%;
      color: $grey80;
      text-decoration: line-through;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 11px;
    background: $red;
    border: 1px solid $red;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    flex-shrink: 0;
    @include media-hover {
      background: #fff;
      color: $red;
    }
    .svg {
      width: 17px;
      height: 17px;
    }
  }
  &__favorite {
    display: inline-flex;
    width: 38px;
    height: 38px;
    padding: 0;
    background: transparent;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    color: #bdbdbd;
    transition: 0.3s;
    cursor: pointer;
    flex-shrink: 0;
    @include media-hover {
      border-color: $red;
    }
    .svg {
      width: 19px;
      height: 19px;
      margin: auto;
    }
    &.active {
      color: $red;
      border-color: $red;
    }
  }
  &__quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    flex-shrink: 0;
    &-btn {
      width: 22px;
      height: 22px;
      padding: 5px;
      background: transparent;
      border: 0;
      flex-shrink: 0;
      color: #bdbdbd;
      transition: color 0.3s;
      cursor: pointer;
      @include media-hover {
        color: $blue;
      }
    }
    &-input {
      width: 50px;
      padding: 10px 5px;
      background: $blue20;
      border: 0;
      border-radius: 4px;
      text-align: center;
      appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
  }
  &__delete {
    position: absolute;
    top: 50%;
    left: calc(100% + 80px);
    transform: translate(-100%, -50%);
    display: flex;
    width: 47px;
    height: 40px;
    background: $blue20;
    border: 0;
    border-radius: 4px;
    transition: color 0.3s;
    cursor: pointer;
    @include media-laptop {
      left: calc(100% + 65px);
    }
    @include media-tablet {
      top: 10px;
      right: 10px;
      left: unset;
      transform: none;
      width: 40px;
      height: 30px;
    }
    @include media-hover {
      background: $red;
      .svg {
        color: #fff;
      }
    }
    .svg {
      width: 14px;
      height: 14px;
      color: $red;
      margin: auto;
      @include media-tablet {
        width: 12px;
        height: 12px;
      }
      &--icon_plus {
        transform: rotate(45deg);
      }
    }
  }
  &__main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
    @include media-laptop {
      gap: 15px;
      justify-content: space-between;
    }
    @include media-tablet {
      margin-top: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__control {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-grow: 1;
    @include media-laptop {
      gap: 20px;
    }
  }
  &__section {
    &:not(:first-child) {
      margin-top: 35px;
      @include media-laptop {
        margin-top: 25px;
      }
    }
    &-name {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 16px;
    }
  }
  &__details,
  &__descr {
    ul,
    ol,
    p {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
    ul,
    ol {
      li {
        ul,
        ol,
        p {
          margin-top: 0.8em;
        }
      }
    }
    ul {
      @extend .ui-ul;
    }
    ol {
      @extend .ui-ol;
    }
  }
  &__descr {
    font-size: 16px;
  }
  &__props {
    display: grid;
    gap: 10px;
  }
  &__prop {
    font-size: 14px;
    &:first-child {
      color: $grey80;
    }
    &-line {
      display: flex;
      gap: 10px;
    }
  }
  &__discount {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    padding: 5px 8px;
    background: $red90;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 3px;
    letter-spacing: 0.05em;
    @include media-tablet {
      top: 15px;
      right: 15px;
      padding: 4px 6px;
      font-size: 13px;
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
  }
  &--inner {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 30px;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    @include media-laptop {
      grid-template-columns: 280px 1fr;
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
    }
    .product {
      &__img,
      &__img-anim {
        width: 360px;
        height: 475px;
        margin: 0;
        border: 1px solid #ebebeb;
        border-radius: 10px;
        @include media-laptop {
          width: 280px;
          height: 370px;
        }
        @include media-tablet {
          margin: 0 auto;
        }
        img {
          border-radius: inherit;
        }
      }
      &__img {
        position: relative;
      }
      &__img-anim {
        border: 0;
      }
      &__info {
        padding: 0;
        .product__details {
          @include media-tablet {
            margin-top: 30px;
            order: 1;
          }
          &:not(:last-child) {
            @include media-tablet {
              margin-bottom: 0;
            }
          }
        }
      }
      &__line {
        margin-bottom: 5px;
        @include media-tablet {
          width: 100%;
          justify-content: space-between;
        }
      }
      &__name {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 33px;
        @include media-laptop {
          margin-bottom: 10px;
          font-size: 30px;
        }
        @include media-tablet {
          font-size: 26px;
        }
      }
      &__main {
        gap: 25px;
        margin-top: auto;
        justify-content: space-between;
        @include media-laptop {
          gap: 15px;
          flex-wrap: wrap;
        }
        @include media-tablet {
          display: grid;
        }
      }
      &__price {
        font-size: 28px;
        @include media-laptop {
          font-size: 26px;
        }
        @include media-tablet {
          font-size: 22px;
        }
      }
      &__details {
        grid-column: 1/-1;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      &__discount {
        top: 15px;
        right: unset;
        left: 15px;
        @include media-tablet {
          top: unset;
          right: 12px;
          bottom: 12px;
          left: unset;
        }
      }
    }
  }
}

@keyframes img-anim {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
