mixin product(mods, type)
  -
    const baseName = 'product'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const props = [
      [
        'Вес:',
        '0.0 кг'
      ],
      [
        'Габариты:',
        '1650х1000х500,1650х700х500'
      ],
      [
        'Материал:',
        'Металл'
      ],
      [
        'Производитель:',
        'Краснодар'
      ],
      [
        'Гарантия:',
        '0 мес.'
      ],
    ]

  form.product(class=allMods)&attributes(attributes)
    case type
      when 'cart'
        .product__discount -35%
        .product__img: img(src='../../images/catalog-inner-1.jpg' alt='')
        .product__info
          a.product__name(href='#') Крючок для перфорации одинарный 100мм d-4мм, цинк арт. SH504Z-100SX
          .product__price 12 489 ₽
            span.product__price-old 10 999 ₽
        +product__quantity
        button.product__delete(type='button')
          +svg('icon_plus')
        block
      when 'inner'
        .product__view
          .product__img
            .product__discount -35%
            img(src='../../images/catalog-inner-1.jpg' alt='')
        .product__info
          .product__line
            .product__art Арт. L013414
            .product__status.product__status--in-stock В наличии
          h1.product__name Стеллаж торговый пристенный с полками 1650
          .product__details
            .product__section
              .product__section-name Характеристики
              .product__props
                each item in props
                  .product__prop-line
                    each prop in item
                      .product__prop !{prop}
          .product__main
            .product__price 12 489 ₽
              span.product__price-old 10 999 ₽
            .product__control
              button.product__favorite(type='button')
                +svg('icon_heart')
              +product__quantity
              button.product__button(type='button')
                +svg('icon_cart')
                | В корзину
        .product__images
          -for(let i=0; i<5; i++)
            a.product__pic(data-fancybox='product-gallery' href='../../images/catalog-inner-1.jpg'): img(src='../../images/catalog-inner-1.jpg' alt='')
            a.product__pic(data-fancybox='product-gallery' href='../../images/catalog-inner-2.jpg'): img(src='../../images/catalog-inner-2.jpg' alt='')
            a.product__pic(data-fancybox='product-gallery' href='../../images/catalog-inner-3.jpg'): img(src='../../images/catalog-inner-3.jpg' alt='')
        .product__details
          .product__section
            .product__section-name Описание
            .product__descr
              p Высота: 1650мм. Длина: 1000 и 700мм. Глубина 500мм. Полки: 1х500мм. 2х400мм. 2х320мм. Цвет стеллажа: Белый. Стеллаж просчитан с одной стойкой для удобства расчета.Для завершения линии стеллажей необходима дополнительная боковая стойка и кронштейны полок стоимостью 940р Возможно укомплектовать стеллажи крючками дополнительным навесным торговым оборудованием.
              ul
                li Первый
                li Второй
          .product__section
            .product__section-name Характеристики
            .product__props
              each item in props
                .product__prop-line
                  each prop in item
                    .product__prop !{prop}
        block
      default
        //- .product__img: img(src='../../images/catalog-inner-1.jpg' alt='')
        .product__slider
          .swiper-wrapper
            .product__img.swiper-slide: img(src='../../images/catalog-inner-1.jpg' alt='')
            .product__img.swiper-slide: img(src='../../images/catalog-inner-2.jpg' alt='')
            .product__img.swiper-slide: img(src='../../images/catalog-inner-3.jpg' alt='')
          +ui-swiper-bullets('product')
        .product__line
          .product__discount -35%
          .product__art Арт. L013414
          .product__status.product__status--in-stock В наличии
        a.product__name(href='#') Крючок для перфорации одинарный 100мм d-4мм, цинк арт. SH504Z-100SX
        if pageName === 'catalog-inner'
          .product__descr Высота: 1650мм. Длина: 1000 и 700мм. Глубина 500мм. Полки: 1х500мм. 2х400мм. 2х320мм. Цвет стеллажа: Белый. Стеллаж просчитан с одной стойкой для удобства расчета.Для завершения линии стеллажей необходима дополнительная боковая стойка и кронштейны полок стоимостью 940р Возможно укомплектовать стеллажи крючками дополнительным навесным торговым оборудованием.
        .product__bottom
          .product__price 12 489 ₽
            span.product__price-old 10 999 ₽
          .product__control
            button.product__favorite(type='button')
              +svg('icon_heart')
            +product__quantity
            button.product__button(type='button')
              +svg('icon_cart')

mixin product__quantity
  .product__quantity
    button.product__quantity-btn(type='button' data-quantity-minus)
      +svg('icon_minus')
    input.product__quantity-input(type='number' value='1')
    button.product__quantity-btn(type='button' data-quantity-plus)
      +svg('icon_plus')
